body {margin:0;}

html {
  scroll-behavior: smooth;
}




#section03 {
  position: relative;
  width: 2%;
  height: 100%;
}


section h1 {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 98%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 61px/1 sans-serif;
  text-align: center;
  white-space: nowrap;
  font-family: comic sans ms;
  transition: 1s ease;
}


#section03 { background: url(https://upload.wikimedia.org/wikipedia/commons/5/59/Empty.png) center center / cover no-repeat;}


#section03 a {
  position: absolute;
  bottom: 92px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}


#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@keyframes sdb03 {
  
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
																	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://images.pexels.com/photos/988914/pexels-photo-988914.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
																	background-repeat: no-repeat;
																	background-attachment: fixed;
																}
																::-webkit-scrollbar { 
																					display: none; 
																					}
















    


ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: .3;
}

li {
  float: left;
}

li a {
  
  display: block;
  color: white;
  text-align: center;
  padding: 5px 40px;
  text-decoration: none;
  position: relative;
  left: 1370px;
}

h4 {
	
	color: #fff;
}


.buttonimg {
	position: absolute;
	margin-top: 5px;
	margin-left: 300;
	height: 300px;
	width: 450px;
	background: url("https://images.pexels.com/photos/8333/fashion-hat-straw-hat.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500") no-repeat;
	
}

.buttonimg2 {
	position: absolute;
	margin-top: 5px;
	margin-left: 1220px;
	height: 300px;
	width: 380px;
	background: url("https://images.pexels.com/photos/171945/pexels-photo-171945.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") no-repeat;
	background-size: 390px 300px;
}

.buttonimg4 {
	position: absolute;
	margin-top: 355px;
	margin-left: 1190px;
	height: 300px;
	width: 410px;
	
}

.buttonimg5 {
	position: absolute;
	margin-top: 5px;
	margin-left: 790px;
	height: 300px;
	width: 380px;
	background: url("https://images.pexels.com/photos/428340/pexels-photo-428340.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
	background-size: 450px;
}

.buttonimg6 {
	position: absolute;
	margin-top: 355px;
	margin-left: 300px;
	height: 300px;
	width: 380px;
	background: url("https://images.pexels.com/photos/1804075/pexels-photo-1804075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
	background-size: 450px;
}

.buttonimg7 {
	position: absolute;
	margin-top: 355px;
	margin-left: 735px;
	height: 300px;
	width: 400px;
	background: url("https://images.pexels.com/photos/1172207/pexels-photo-1172207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
	background-size: 400px 300px;
}


.button {
	top: 5%;
	left: 75%;
	position: absolute;	
}

.btn {
	margin: 10px;
	height: 60px;
	width: 200px;
	border: 1px solid;
	color: #fff;
	padding: 10px 30px;
	text-decoration: none;
	transition: 1s ease;
	border-radius: 2px;
	font-family: arial;
}

.btn:hover {
	background-color: #fff;
	color: #6b6b6b;
	border-color: #fff; 
}

.button2 {
	top: 55%;
	left: 47%;
	position: absolute;	
}


}
